## Installing SQLite

SQLite is already integrated into Python(from version 2.5 and onwards). If you want to install SQLite to install SQLite locally then go through this link - https://www.sqlitetutorial.net/download-install-sqlite/, as it gives detailed overview and instructions of how to download and run SQL queries using SQLite.

## Using SQLite in Python

If we want to use SQLite using Python the all we need to do is import the sqlite3 library. After that we need to establish a connection, and a cursor. A cursor object acts as a bridge between the SQLite database connection and SQL queries. Let's begin with creating a database, a connection, a cursor, and a table to insert values into.

In [21]:
import sqlite3 as sq
conn = sq.connect("example.db")
cur = conn.cursor()

As we have established a connection and created a cursor object, it is time for us to know the functions/keywords which will help us in executing the queries.

* execute() - This function is used to execute a single line of SQL query in SQLite.
* executemany() - This function is used to execute multiple lines of one command in SQLite.
* executescript() - This function is used to execute multiple SQL expression at once.

So one might ask - what is the difference between executemany() and executescript()?

The answer can be demonstrated by the example given below. Before that let us create a table to insert values into it.

In [10]:
# checking how many databases are in present

import os

directory = "./"
databases = [j for j in os.listdir(directory) if j.endswith(('.sqlite','.db'))]

print("The databases found are:\n")
for row in databases:
    print(row)

The databases found are:

example.db

The above code is used to check if how many databases are present.

In [ ]:
cur.executescript("""
                  CREATE TABLE customer(first_name TEXT, last_name TEXT, age INT, income REAL);
                  INSERT INTO customer VALUES('Sheldon','Cooper',28,450000);
                  INSERT INTO customer VALUES('Leonard','Hoffstader',28,400000);
                  """)

In [20]:
cur.execute("SELECT * FROM customer;")
cur.fetchall()

[('Sheldon', 'Cooper', 28, 450000.0), ('Leonard', 'Hoffstader', 28, 400000.0)]

The above code works fine for our code editor and fetches and displays all the records in the table, but these changes will not be shown in the local database. The reason behind that is, after each updation we need to commit the changes as well. For that we need to use the .commit() method to the connection.

In [22]:
conn.commit()

In the above snippet, we have created a table and insert 2 values into it. So we have 2 SQL expressions here - creating a table and inserting values into it. This is possible only when we are using **.executescript()** method. 

Let us now see the use of **.executemany()** method

In [23]:
# further inserting values into it

cust_list = [('Howard','Wolowitz',27,300000),
             ('Rajesh','Koothrapali',28,450000)]

cur.executemany("INSERT INTO customer VALUES(?,?,?,?)",cust_list)

* Here I have used (?,?,?,?) for inserting records into the table. These are called **placeholders**.

* We have inserted 2 records into the table, that is, we have performed one operation which is inserting. Let us see how does the table look like.

In [24]:
cur.execute("SELECT * FROM customer;")
cur.fetchall()

[('Sheldon', 'Cooper', 28, 450000.0),
 ('Leonard', 'Hoffstader', 28, 400000.0),
 ('Howard', 'Wolowitz', 27, 300000.0),
 ('Rajesh', 'Koothrapali', 28, 450000.0)]

In [25]:
conn.commit()

The other function which is used here is **.fetchall()**. This function is used to retrieve and display all the records here. If we want to fetch only one record then we can use the **.fetchone()** method.

In [26]:
cur.execute("SELECT * FROM customer;")
cur.fetchone()

('Sheldon', 'Cooper', 28, 450000.0)

After executing the queries, it is always advisable to close the database connection. This can be done using the **.close()** method with the connection.

In [27]:
conn.close()